/* .App{
 height: 200px;
 width: 200px;
 background-color: rgb(0, 0, 0);
 color: white;
 display: grid;
 place-items: center;
 border-radius: 20px;
}
h1{
color: white;
text-transform: uppercase;
}
.input-box{
  display: grid;
  padding: 2rem;
}
.input-box input{
  border-radius: 50px;
  border: none;
}
.button-box{
  display: flex;
  margin-left: 25px;
 gap: 10px;
  
}
.button-box button{
  border-radius:50px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
}
/* input{
  height: 50px;
  width: 70%;
  margin-left: 50px;

}
button{
  background-color: red;
  height: 50px;
  width: 50%;
  margin-left: 10px;

} */ 
body {
  font-family: Arial, sans-serif;
  background-color: #01240191;
  margin: 0;
  padding: 5rem;
  max-width: 300px;
  max-height: 250px;
  background-image:url('../src/image/Dark\ Green\ and\ Light\ Green\ Modern\ Gradient\ Health\ Products\ Health\ Logo\ \(4\)-fotor-bg-remover-2023072503554.png');
background-size: contain;
background-repeat: no-repeat;
display: flex;
justify-content: center;
align-items: center;
}

.logo{
  width: 90px;
  height: 90px;
  margin-left: 250px;
}
.top{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 
}
.App {
  width: 70vw;
  height: 200px;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  
}

.App h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.inputs-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ccc;
}

.inputs-box input {
  width: 100%;
  height: 10vh;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #1c66066e;
  margin-bottom: 10px;
  font-size: 16px;
}
input[type="text"]::placeholder {
  color: #e4dfdf;

}

.button-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.button-box button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-box button:nth-child(1) {
  background-color: #e96565;
  color: #fff;
}

.button-box button:nth-child(2) {
  background-color: #0b3a0dcc;
  color: #fff;
}

.button-box button:hover {
  opacity: 0.8;
}